* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.sign-in-container {
  padding: 0 10px;
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-in-container > h2 {
  margin-bottom: 0px;
}

@media screen and (min-width: 800px) {
  .sign-in-container h1 {
    max-width: 40%;
    font-size: 36px;
  }

  .sign-in-container h2 {
    font-size: 28px;
  }

  .sign-in-container ol {
    font-size: 20px;
  }
}


